# Lab | Inferential statistics - T-test & P-value

#### Instructions
1. One tailed t-test -
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. 
   - Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?



2. Matched Pairs Test -
In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. 
   - Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

### 1. One tailed t-test - Packaging plant

In [22]:
# Tryied to load the data :(
nice_try = pd.read_fwf('files_for_lab/machine.txt')
nice_try.head()

  ��N e w   m a c h i n e \t         O l d    m a c h i n e 
0                                                        NaN
1       4 2 . 1 \t                 4 2 . 7               NaN
2                                                        NaN
3   4 1 \t                         4 3 . 6               NaN
4                                                        NaN

In [16]:
# Miguel's way
new_machine = [42.1,41,41.3,41.8,42.4,42.8,43.2,42.3,41.8,42.7]
old_machine = [42.7,43.6,43.8,43.3,42.5,43.5,43.1,41.7,44,44.1]

In [30]:
# Creating the data frame
data = pd.DataFrame({'new_machine':new_machine, 'old_machine':old_machine})
data.head()

   new_machine  old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5

In [ ]:
## One tailed t-test - Independent Samples Test ##
# We are using the Independent Samples Test because the two samples of cartoons being used are independent.

#### Defining the hypothesis
Hypothesis: It is supposed that a new machine will pack faster on the average than the machine currently used
- H0: avg('new_machine') >= avg('old_machine')
- H1: avg('new_machine') < avg('old_machine')

#### Significance (a=0.05)

In [31]:
# Testing if the new machine will pack faster on the average than the machine currently used. 

st.ttest_ind(data['new_machine'], data['old_machine'], equal_var=False)

Ttest_indResult(statistic=-3.397230706117603, pvalue=0.0032422494663179747)

Having significance of a=0.05:
- For our carton packing machine study, we have got a p-value < 0.05, which means that we have enough evidence to reject the null hypothesis w/ a 95% accuracy, which stated that the new_machine packages faster than the old_machine.

- On the other hand, looking at our Statistic value which is negative(-), we can assume that our new_machine packs slowlier than our old_machine. avg('new_machine') < avg('old_machine')

### 2. Matched Pairs Test - Pokemon's

Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores

In [28]:
pokemon = pd.read_csv('./files_for_lab/pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### Defining the hypothesis
- H0: Attack = Defense
- H1: Attack != Defense

#### Significance (a=0.05)

In [32]:
# Applying the ttest Matched Pair
# Checking if the avg 'Attack' is EQUAL to the avg 'Defense'

st.ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

- P-value is really small, so, we have enough evidence to reject that the Pokemon's Attack is equal to the Defense. We completely reject H0.
- On the other hand, Statistic value is positive(+). So, we can conclude that avg('Attack') is higher than avg('Defense').

# Inferential statistics - ANOVA

## Part 1
### Context
Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

- State the null hypothesis
- State the alternate hypothesis
- What is the significance level
- What are the degrees of freedom of model, error terms, and total DoF

In [42]:
data = pd.read_excel('./files_for_lab/anova_lab_data.xlsx')
data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

#### State the null and alternative hypothesis

- H0: all etching rates are the same regarding the machine power we use
- H1: etching rates are different for the different power machines

#### What is the significance level
- a = 0.05

## Part 2
- In this section, use the Python to conduct ANOVA.
- What conclusions can you draw from the experiment and why?

In [39]:
data.columns

Index(['Power ', 'Etching Rate'], dtype='object')

#### Conducting ANOVA

In [41]:
# Rearranging the data to run more comfortably an ANOVA
data['machine_count'] = data.groupby('Power ').cumcount() ##this is the new index 

data_pivot = data.pivot(index='machine_count', columns='Power ', values='Etching Rate')
data_pivot.columns = ['Machine'+str(x) for x in data_pivot.columns.values]
data_pivot.head()

# One column per Machine Power type and plasma etching process nº per row

               Machine160 W  Machine180 W  Machine200 W
machine_count
0                      5.43          6.24          8.79
1                      5.71          6.71          9.20
2                      6.22          5.98          7.90
3                      6.01          5.66          8.15
4                      5.59          6.60          7.55

In [43]:
data_pivot.columns

Index(['Machine160 W', 'Machine180 W', 'Machine200 W'], dtype='object')

In [49]:
data_pivot = data_pivot.rename(columns={'Machine160 W':'Machine160_W','Machine180 W':'Machine180_W','Machine200 W':'Machine200_W'})

In [50]:
data_pivot

               Machine160_W  Machine180_W  Machine200_W
machine_count
0                      5.43          6.24          8.79
1                      5.71          6.71          9.20
2                      6.22          5.98          7.90
3                      6.01          5.66          8.15
4                      5.59          6.60          7.55

In [51]:
# running the ANOVA test
st.f_oneway(data_pivot['Machine160_W'],data_pivot.Machine180_W,data_pivot.Machine200_W)

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

#### Conclusions

P-value < a, so, we have enough evidence to reject the H0. We can state that changing the power of the plasma beam has an effect on the etching rate by the machine.