# Lab | Inferential statistics - T-test & P-value

#### Instructions
1. One tailed t-test -
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. 
   - Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?



2. Matched Pairs Test -
In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. 
   - Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

### 1. One tailed t-test - Packaging plant

In [22]:
# Tryied to load the data :(
nice_try = pd.read_fwf('files_for_lab/machine.txt')
nice_try.head()

  ��N e w   m a c h i n e \t         O l d    m a c h i n e 
0                                                        NaN
1       4 2 . 1 \t                 4 2 . 7               NaN
2                                                        NaN
3   4 1 \t                         4 3 . 6               NaN
4                                                        NaN

In [16]:
# Miguel's way
new_machine = [42.1,41,41.3,41.8,42.4,42.8,43.2,42.3,41.8,42.7]
old_machine = [42.7,43.6,43.8,43.3,42.5,43.5,43.1,41.7,44,44.1]

In [30]:
# Creating the data frame
data = pd.DataFrame({'new_machine':new_machine, 'old_machine':old_machine})
data.head()

   new_machine  old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5

In [ ]:
## One tailed t-test - Independent Samples Test ##
# We are using the Independent Samples Test because the two samples of cartoons being used are independent.

#### Defining the hypothesis
Hypothesis: It is supposed that a new machine will pack faster on the average than the machine currently used
- H0: avg('new_machine') >= avg('old_machine')
- H1: avg('new_machine') < avg('old_machine')

#### Significance (a=0.05)

In [31]:
# Testing if the new machine will pack faster on the average than the machine currently used. 

st.ttest_ind(data['new_machine'], data['old_machine'], equal_var=False)

Ttest_indResult(statistic=-3.397230706117603, pvalue=0.0032422494663179747)

Having significance of a=0.05:
- For our carton packing machine study, we have got a p-value < 0.05, which means that we have enough evidence to reject the null hypothesis w/ a 95% accuracy, which stated that the new_machine packages faster than the old_machine.

- On the other hand, looking at our Statistic value which is negative(-), we can assume that our new_machine packs slowlier than our old_machine. avg('new_machine') < avg('old_machine')

### 2. Matched Pairs Test - Pokemon's

Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores

In [28]:
pokemon = pd.read_csv('./files_for_lab/pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### Defining the hypothesis
- H0: Attack = Defense
- H1: Attack != Defense

#### Significance (a=0.05)

In [32]:
# Applying the ttest Matched Pair
# Checking if the avg 'Attack' is EQUAL to the avg 'Defense'

st.ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

- P-value is really small, so, we have enough evidence to reject that the Pokemon's Attack is equal to the Defense. We completely reject H0.
- On the other hand, Statistic value is positive(+). So, we can conclude that avg('Attack') is higher than avg('Defense').